<header class="navbar navbar-fixed-top navbar-inverse navbar-color">
  <div class="container">
    <%= link_to "KEVIN KIM", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",    root_path, id: "custom"%></li>
        <li><%= link_to "Help",    help_path, id: "custom" %></li>
        <li><%= link_to "About", about_path, id: "custom" %></li>
        <li><%= link_to "Log in", '#', id: "custom" %></li>
      </ul>
    </nav>
  </div>
</header>